html, body {
 padding: 0;
 margin: 0;
 width: 100%;
 overflow-x: hidden;
}

.logo {
  background-image: linear-gradient(to right, white, white, black, black);
}

.nav-link {
  color: black;
  font-size: 1.25em;
}

.navbar-brand {
  padding: 0;
}

.bg-unique {
  background-image:  url('images/consult.png');
  background-size: cover;
}


.blockquote {
  font-size: 1.5em;
  font-family: MonteCarlo;
  font-weight: 900;
  text-align: center;
  color: rgb(0, 2, 82);
  padding-top: 5px;
}

.blockquote-footer {
  font-size: 1em;
  font-family: MonteCarlo;
  font-weight: 900;
  text-align: center;
  color: rgb(0, 2, 82);
  padding-top: 5px;
  margin-bottom: 0;
}

.btn {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: aliceblue;
  font-size: 20px;
  font-weight: 900;
  font-family: Bodoni;
  transition-duration: 0.6s;
  margin-top: -0.75em;
}

.btn:hover {
  background-color: white;
  color: black;
}

@media (min-width: 576px) {  
  .blockquote {
    font-size: 2em;
    font-family: MonteCarlo;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 2, 82);
    padding-top: 5px;
  }
  
  .blockquote-footer {
    font-size: 1em;
    font-family: MonteCarlo;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 2, 82);
    padding-top: 5px;
    margin-bottom: 0;
  }
  
  .btn {
    background-color: black;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    color: aliceblue;
    font-size: 25px;
    font-weight: 900;
    font-family: Bodoni;
    transition-duration: 0.6s;
    margin-top: -0.75em;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
  }
}
  
@media (min-width: 768px) {
  .blockquote {
    font-size: 2.5em;
    font-family: MonteCarlo;
    font-weight: 900;
    text-align: center;
    color: rgb(1, 2, 63);
    padding-top: 5px;
  }
  
  .blockquote-footer {
    font-size: 1em;
    font-family: MonteCarlo;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 2, 82);
    padding-top: 5px;
    margin-bottom: 0;
  }

  .btn {
    background-color: black;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    color: aliceblue;
    font-size: 25px;
    font-weight: 900;
    font-family: Bodoni;
    transition-duration: 0.6s;
    margin-top: -0.75em;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
  }
}

@media (min-width: 1200px) { 
  .blockquote {
    font-size: 3.5em;
    font-family: MonteCarlo;
    font-weight: 900;
    text-align: center;
    color: rgb(1, 2, 63);
    padding-top: 5px;
  }
  
  .blockquote-footer {
    font-size: 1em;
    font-family: MonteCarlo;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 2, 82);
    padding-top: 5px;
    margin-bottom: 0;
  }

  .btn {
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color: aliceblue;
    font-size: 40px;
    font-weight: 900;
    font-family: Bodoni;
    transition-duration: 0.6s;
    margin-top: -0.75em;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
  }
}