html, div, body {
 padding: 0;
 margin: 0;
}

.logo {
  background-image: linear-gradient(to right, white, white, black, black);
}

.nav-link {
  color: black;
  font-size: 1.25em;
}

.navbar-brand {
  padding: 0;
}

.bg-unique {
  background-image:  url('images/slide.jpg');
  background-size: cover;
}


.blockquote {
  font-size: 3.5em;
  font-family: MonteCarlo;
  font-weight: 900;
  text-align: center;
  color: rgb(0, 2, 82);
  padding-top: 5px;
  padding-bottom: 5px;
}

.blockquote-footer {
  font-size: 1em;
  font-family: MonteCarlo;
  font-weight: 900;
  text-align: center;
  color: rgb(0, 2, 82);
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  color: aliceblue;
  font-size: 40px;
  font-weight: 900;
  font-family: Bodoni;
  transition-duration: 0.6s;
  margin-bottom: 10px;;
}

.btn:hover {
  background-color: white;
  color: black;
}

